h1{
	font-family: verdana;
	font-size: 30px;
	color: blue;
	opacity: 60%;
}
#box{
	width: 100%;
	border: solid 1px black;

}
p{
	float: left;
	width:30%;
	height: 350px;
	border: solid 2px black;
	margin: 10px;
	padding: 5px;
}

img{
	width:100%;
	height: 100%;

}
@media(max-width: 1035px)
{
	p{
		float: none;
		width:90%;
		margin-right: auto;
		margin-left: auto;
	}
	#box{
		width:100%;

	}

}
